# Ignore Python virtual environments
venv/
*/venv/
*env/
wscrp_venv/

# Byte-compiled files
__pycache__/
*.pyc
*.pyo

# OS files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/

# Ignore Excel files
*.xlsx
*.xls
